[Unit]
Description=Pi Sensor
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/opt/pi-sensor/sensor.py
Restart=always
RestartSec=30
KillMode=process

[Install]
WantedBy=multi-user.target
